.sorting__tabs {
    height: 50px;
    margin: 20px;
    padding: 0;
    display: flex;
    text-transform: uppercase;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 600;
    font-size: .75rem;
}

.sorting__tab {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
}

.sorting__tab:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sorting__tab:last-child {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.is-active {
    background-color: #2196F3;
    color: #fff;
}